
/* Phones to Tablets */

@media only screen and (min-width: 481px) {
    .col {
        float: left;
    }
    .main {
        width: 65.957446808511%;
    }
    .secondary {
        width: 31.914893617021%; 
    }
    .secondary,
    .extra {
        margin-left: 2.127659574468%;
    }
}

/* Tablets to Desktop */

@media only screen and (min-width: 769px) { 
    .logo {
        float: left;
    }
    .main-nav {
        float: right;
    }
    .main {
        width: 40.425531914894%;
    }
    .extra {
        display: block;
        width: 23.404255319149%;
    }
}

@media only screen and (min-width: 1024px) {    
    .wrap {
        width: 980px;
    }
}

/* @media not screen and (monochrome) {
    body {
        background: red; */
